body {
  font-family: arial, sans-serif;
  margin: 0px;
}


.masthead-heading .masthead-intro {
  text-align: center;
}

.masthead {
  padding: 6em 0;
  background-image: url("https://images.unsplash.com/photo-1441742917377-57f78ee0e582?q=80&fm=jpg&s=a79e8a2beba8b3a1ad251798a9024d8b");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 400px;
  border-top: 1em solid #0B5394;
}
  

.masthead-intro {
margin-bottom: 1.5em;
font-size: 2em;
padding-top: 150px;
color: #fff;
}

.masthead-heading {
  margin-top: -0.2em;
    line-height: 30%;
  font-size: 5em;
  color: #fff;
  text-shadow: 3px 3px #0B5394;
}

h1 {
  font-size: 32px;
}

.introduction-section,
.location-section,
.questions-section
{
  margin: auto;
  max-width: 38em;
}


h2 {
  color: #0B5394;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 2em;
}

a {
  color: #0B5394;
  text-decoration: none;
  font-weight: bold;
}

.content-footer {
  height: 200px;
  background-color: #ABA2BE;
  margin-top: 5em;
  color: #fff;
  
}
.socialnetworks {
  max-width: 38em;
margin: 0 auto;
  text-align: center;
  padding-top: 3em;
}

.socialnetworks a {
color: #0B5394;
font-weight: bold;
}

ul.social {
  list-style-type: none;
  padding-left: 0px;
}

.social > li {
  display: inline-block;
 
}

.footer {
  max-width: 38em;
  margin: auto;
  text-align: center;
  padding-top: 2em;
}

 /* Media Queries */


@media only screen and (max-width: 500px) {
   .masthead {
        padding: 3em 0;
    }
    
  .masthead-heading {
        font-size: 3em;
    }
}